body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
}

#introScreen {
  margin-top: 20px;
}

#gameArea {
  display: none;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #ccc;
  width: 60%;
}

.found {
  color: green;
  font-weight: bold;
}

.not-found {
  color: red;
  font-weight: bold;
}

#timer {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 10px;
}

#score {
  font-size: 20px;
  color: #333;
  margin: 10px;
}

#lastWord {
  margin-top: 20px;
  font-size: 20px;
  color: #555;
}

#results {
  margin-top: 20px;
  font-size: 20px;
  color: #555;
}

#wordList,
#solutions {
  font-family: "Futura Hv BT", "Atkinson Hyperlegible", "Verdana", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.2em;
  margin-top: 20px;
  font-size: 20px;
  color: #555;
  column-count: 1;
  line-height: 2;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  button,
  input[type="text"] {
    font-size: 14px;
    padding: 8px 16px;
  }

  #timer,
  #score,
  #lastWord,
  #wordList {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  body {
    padding: 10px;
  }

  button,
  input[type="text"] {
    font-size: 12px;
    padding: 6px 12px;
  }

  #timer,
  #score,
  #lastWord,
  #results,
  #wordList {
    font-size: 16px;
  }
}
